@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout1.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendRestPasswordUrl">
			<div asp-validation-summary="All" class="alert alert-danger"></div>
			<input email" type="email" asp-for="Email" placeholder="Email">
			
			<input type="submit" value="Rest Password">
		</form>
	</div>
</div>

