@model RestPasswordViewModel
@{
    ViewData["Title"] = "RestPassword";
    Layout = "~/Views/Shared/_AuthLayout1.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="RestPassword">
			<div asp-validation-summary="All" class="alert alert-danger"></div>
			<input type="password" asp-for="Password" placeholder="Password">
			<input type="password" asp-for="ConfirmPassword" placeholder="ConfirmPassword">


			<input type="submit" value="Rest">
		</form>

	</div>
</div>

