@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Employee</h1>


<form asp-action="Delete">

    <partial name="PartialViewEmployee/PartialDeleteDetatils" model="Model" />
    
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a class="btn btn-light" asp-action="Index"> Back To List </a>
</form>

