@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Delete">

    <h1>Details</h1>

    <div class="form-group">
        <label asp-for="Id" class="col-form-lable"></label>
        <input asp-for="Id" class="form-control" readonly />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Name" class="col-form-lable"></label>
        <input asp-for="Name" class="form-control" readonly />

    </div>
    <br />


    <br />
    <input class="btn btn-danger" value="Delete" type="submit" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

